.NewsDetails {
  text-align: left;
}

.NewsDetails img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Giới hạn chiều cao tối đa của hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh giữ nguyên tỉ lệ khung hình */
  display: block;
  margin: 20px 0; /* Khoảng cách giữa các hình ảnh và nội dung xung quanh */
}

.NewsDetails a {
  color: var(--text-secondary);
}

.NewsDetails a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.NewsDetails h2,
.NewsDetails h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.NewsDetails figcaption {
  font-size: 0.875rem;
}
